@import "./constants.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

html, body {
    background-color: $mc-grey;
    overflow-y: auto !important;
    font-family: 'IBM Plex Mono', monospace;
}

