@import "./constants.scss";

@font-face {
    font-family: 'AmericanTypewriter'; /* Give a name to your font */
    src: url('../fonts/FontsFree-Net-american-typewriter-1.ttf') format('truetype'); /* Modern Browsers */
    font-weight: normal; /* Define the weight of the font */
    font-style: normal; /* Define the style of the font */
}

@font-face {
    font-family: 'Dotted'; /* Give a name to your font */
    src: url('../fonts/fake_receipt.otf') format('opentype'); /* Modern Browsers */
    font-weight: normal; /* Define the weight of the font */
    font-style: normal; /* Define the style of the font */
}

html, body {
    background-color: $mc-grey;
    font-family: 'AmericanTypewriter', monospace;
    overflow-y: hidden;
}